{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if not todo_done %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">ToDo List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">

                            <table class="table table-hover text-nowrap table-bordered">
                                <thead style="text-align:center">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Due</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    {% for todo in todos %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{todo.title}}</td>
                                        <td>{{todo.due}}</td>
                                        <td>
                                            <div>
                                                {% if todo.is_finished == True %}
                                                <button class="btn btn-success">Done</button>
                                                {% else %}
                                                <button class="btn btn-info">Pending</button>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#"><i class="fa fa-trash fa-2x"></i></a>
                                            <button class="btn btn-info">Edit</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h4>All tasks have been done!! create to add more</h4>
                            {% endif %}
                        </div>
                        <div class=" container">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Create ToDo</legend>
                                </fieldset>
                                {{form|crispy}}
                                <div class="form-group">
                                    <button href="" class="btn btn-outline-info" type="submit">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
</div>
{% endblock content %}