{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main role="main">

    <section class='jumbotron text-center'>
        <div class="container">
            <h1>Search YouTube</h1>
            <p>Search videos and select any video to open in youtube</p>
            <form method="POST">
            <div class="input-group mb-3">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="search">
            </div>
            <p>
                <button href="#" type="submit" class="btn btn-primary my-2">Youtube Search</button>
                <button href="#" class="btn btn-primary my-2">Random Videos</button>
            </p>
        </form>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for video in videos %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="{{ video.thumbnail }}">
                        <div class="card-body">
                            <p class="card-text">{{ video.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" href="{{ video.url }}"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">{{ video.duration }} mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock content %}